/* removendo margens padrões */
* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
  font-family: "Ewert", serif;
  font-weight: 400;
  font-style: normal;
}


body {
    position: relative;
    overflow-x: hidden; 
}

/* opções para trocar de tela */
.menuSuperior {
    position: absolute;
    z-index: 100; 
    top: 20px; 
    right: 20px; 
    display: flex; 
    gap: 30px; 
}

.linkMenu {
    background-image: linear-gradient(
        to bottom, rgb(252, 252, 252), rgb(161, 126, 211)  );
    -webkit-background-clip: text; 
    
    -webkit-text-fill-color: transparent; 
    text-decoration: none;
    font-size: 30px;
    padding: 5px 0;
     font-family: "Croissant One", serif;
  font-weight: 400;
  font-style: normal;
}

/* imagem fundo */
.img-fundo {
    display: block; /* usar pra conseguir usar as figurinhas */
    width: 100%;
}

/* figuras soltas */
.fgBolinha img, 
.fgBolinha2 img, 
.fgBolinha3 img, 
.fgBolinha4 img {
    width: 30px; 
    height: auto; 
    max-width: 100%; 
}

/* figuras de tamanho diferente */
.fgElemento img {
    width: 350px; 
    height: auto; 
    max-width: 100%;
    animation: piscar 6s infinite ease-in-out 3.7s; 
}

.figure6 img {
    width: 300px; 
    height: auto; 
    max-width: 100%;
}

.figure7 img {
    width: 65px; 
    height: auto; 
    max-width: 100%;
    animation: piscar2 12s infinite ease-in-out 4.7s; 
}

.figure8 img, .figure9 img {
    width: 80px; 
    height: auto; 
    max-width: 100%;
}

.figure10 img, .figure12 img {
    width: 220px; 
    height: auto; 
    max-width: 100%;
}

.figure11 img {
    width: 250px; 
    height: auto; 
    max-width: 100%;
}

.figure13 img {
    width: 1050px; 
    height: auto; 
    max-width: 100%;
    filter: blur(10px);
    opacity: 0.7;
    border-radius: 30%;
}

.figure14 img {
    width: 1050px; 
    height: auto; 
    max-width: 100%;
    filter: blur(10px);
    opacity: 0.7;
    border-radius: 30%;
}

/* posições das figurinhas */
.fgBolinha, .fgBolinha2, .fgBolinha3, .fgBolinha4, .fgElemento, .figure6, .figure7, .figure8, .figure9, .figure10, .figure12 {
    position: absolute;
    z-index: 10;
}

.fgBolinha {
    top: 10%; 
    left: 10%; 
    transform: translate(-50%, -50%); 
    animation: piscar 2s infinite ease-in-out 1.7s;
}

.fgBolinha2 {
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    animation: piscar 8s infinite ease-in-out 8.7s;
}

.fgBolinha3 {
    top: 20%; 
    left: 70%; 
    transform: translate(-50%, -50%); 
    animation: piscar 10s infinite ease-in-out 3.7s;
}

.fgBolinha4 {
    top: 50%; 
    left: 10%; 
    transform: translate(-50%, -50%); 
    animation: piscar 4s infinite ease-in-out 3.7s;
}

.fgElemento {
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    animation: piscar 6s infinite ease-in-out 3.7s;
}

.figure6 {
    top: 73%; 
    left: 6%; 
    transform: translate(-50%, -50%); 
}

.figure7 {
    top: 69%; 
    left: 2%; 
    transform: translate(-50%, -50%); 
    animation: piscar2 12s infinite ease-in-out 4.7s; 
}

.figure8 {
    top: 60%; 
    left: 15%; 
    transform: translate(-50%, -50%); 
    animation: piscar2 6s infinite ease-in-out 3.7s; 
}

.figure9 {
    top: 50%; 
    left: 12%; 
    transform: translate(-50%, -50%); 
    animation: piscar2 8s infinite ease-in-out 8.7s; 
}

.figure10 {
    top: 42%; 
    left: 60%; 
    transform: translate(-50%, -50%);  
}

.figure11 {
    top: 42%; 
    left: 70%; 
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 15;
  
}

.figure12 {
    top: 42%; 
    left: 80%; 
    transform: translate(-50%, -50%);  
}

.figure13 {
    top: 40%; 
    left: 70%; 
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 8;
    opacity: 0.7;
    border-radius: 50%;
    
}

.figure14 {
    top: 50%; 
    left: 70%; 
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 8;
    opacity: 0.7;
    border-radius: 50%;
    
}

.figure10:hover{
    top: 42%; 
    left: 60%;
    width: 450px; 
    transform: translate(-50%, -50%);
    

}

.figure10 img:hover {
    width: 300px; 
    height: auto; 
    transform: rotate(-4deg);
    max-width: 100%;
}


.figure11:hover{
    top: 42%; 
    left: 73%;
    width: 450px; 
    transform: translate(-50%, -50%);
    

}

.figure11 img:hover {
    width: 310px; 
    height: auto; 
    max-width: 100%;
}


.figure12:hover{
    top: 43%; 
    left: 85%;
    width: 350px; 
    transform: translate(-50%, -50%);
    

}

.figure12 img:hover {
    width: 300px; 
    height: auto; 
    transform: rotate(4deg);
    max-width: 100%;
}

/* animações */
@keyframes piscar {
    0%,
    100% {
        transform: scale(0.9);
        opacity: 0.3;
    }

    50% {
        transform: scale(0.8);
        opacity: 0.1;
    }
}

@keyframes piscar2 {
    0%,
    100% {
        transform: scale(0.9);
        opacity: 1;
    }

    50% {
        transform: scale(0.8);
        opacity: 0.1;
    }
}